<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hamburgesas en el mundo!!!.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D31EFB181D3A1789005045A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31EFB2C1D3A178A005045A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31EFB371D3A178A005045A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
